:root {
    --terminal-color: rgba(26, 26, 26, 1);
    --border-color: rgba(74, 74, 74, 1);
    --text-color: rgba(224, 224, 224, 1);
    --user-color: rgba(129, 199, 132, 1);
    --gemini-color: rgba(100, 181, 246, 1);
    --input-color: rgba(74, 74, 74, 1);
    --primary-brand-color: rgba(0, 59, 136, 1);
    --secondary-brand-color: rgba(193, 143, 50, 1);
}

body {
    font-family: 'Inter', sans-serif;
    background-image: url("/static/assets/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
}

#typewriter {
    display: inline;
    color: var(--secondary-brand-color);
}

/* index.html elements */

.container {
    background-color: var(--text-color);
    border-radius: 8px;
    
    overflow: hidden;
    width: 400px;
    max-width: 100%;
    padding: 20px;
    text-align: center;
}

.upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 8px;
    border-color:rgba(193, 143, 50, 1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 400px;
    max-width: 100%;
}

header {
    background: rgba(0, 59, 136, 1);
    color: #FCC7A4;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

.upload {
    background: #fff;
}
.upload-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(0, 59, 136);
}

.drop-zone {
    border: 2px dashed rgba(0, 59, 136);
    border-radius: 4px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}

.drop-zone:hover {
    background-color: hsla(265, 53%, 29%, 0.1);
    transition: background-color 0.3s ease;
}

.drop-zone.drag-over {
    background-color: hsla(265, 53%, 29%, 0.1);
    transition: background-color 0.3s ease;
}

#fileInput {
    display: none;
}

.file-list {
    margin-bottom: 10px;
    width: 100%;
    text-align: left;
}

#uploadButton {
    background-color: rgba(0, 59, 136);
    color: #fff;
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
    font-weight: bold;
    align-items: center;
    margin-bottom: 8px;
}

#uploadButton img {
    width: 24px;
    height: 24px;
    position: relative;
    top: 5px;
    left: 4px;
}

#uploadButton:hover {
    background-color: rgba(0, 78, 189);
    transition: background-color 0.3s ease;
}

.skipButton {
    background-color: rgba(0, 59, 136);
    color: #fff;
    border: none;
    padding: 12px 25px ;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size:  16px;
    font-weight: bold;
    margin-top: 8px;
}

.skipButton.relative {
    position: relative;
    top: 10px;
}

.skipButton:hover {
    background-color: rgba(0, 78, 189);
    transition: background-color 0.3s ease;
}

.upload-status {
    margin-top: 20px;
    text-align: center;
}

/* chat.html elements */

.chat-container {
    width: 90%;
    max-width: 800px;
    height: 90vh;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    border: 2px solid var(--border-color);
    box-shadow: 0 0 20px rgba(0, 26, 60, 0.5);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.chat-header {
    color: rgba(255, 255, 255, 1);
    padding: 15px;
    background-color: rgba(0, 59, 136, 0.8);
    border-bottom: 1px solid var(--border-color);
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}
.chat-header span {
    color: rgb(120, 244, 196);
}

.chat-messages {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.message {
    margin-bottom: 15px;
    padding: 10px 15px;
    border-radius: 8px;
    max-width: 80%;
    line-height: 1.5;
    animation: fadeIn 0.3s ease;
}

.message.user {
    background-color: var(--user-color);
    color: #000000;
    align-self: flex-end;
    border-bottom-right-radius: 0;
}

.message.gemini {
    background-color: var(--gemini-color);
    color: #000;
    align-self: flex-start;
    border-bottom-left-radius: 0;
}
        
.message.gemini.typing {
    font-style: italic;
    color: var(--text-color);
    background-color: transparent;
}

.chat-input-form {
    color: rgb(0, 0, 0);
    display: flex;
    padding: 15px;
    border-top: 1px solid var(--border-color);
    background-color: rgba(0, 59, 136, 0.8);
}

#userInput {
    flex-grow: 1;
    padding: 10px 15px;
    border: 1px solid var(--input-color);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 1);
    color: var(--text-color);
    font-size: 1em;
    outline: none;
    transition: border-color 0.3s;
}

#userInput:focus {
    border-color: var(--user-color);
}

#sendButton {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--user-color);
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

#sendButton:hover {
    background-color: #a3e3fb;
}
        
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

/* Custom Scrollbar */
.chat-messages::-webkit-scrollbar {
    width: 8px;
}
.chat-messages::-webkit-scrollbar-track {
    background: var(--terminal-color);
}
.chat-messages::-webkit-scrollbar-thumb {
    background-color: var(--input-color);
    border-radius: 10px;
    border: 2px solid var(--terminal-color);
}
